--swiftversion 5.8
--maxwidth 140
--varattributes same-line
--wraparguments before-first
--wrapcollections before-first
--wrapternary before-operators
--enable isEmpty,organizeDeclarations,markTypes,blankLinesAroundMark,anyObjectProtocol,wrapConditionalBodies
--exclude School-iOS/Classes/Generated
--marktypes always
